.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel > * {
  margin: 5px;
}

.house-card {
  border: solid 1px;
  padding: 10px;
}

.image-wrapper {
  width: 15vw;
}

.image {
  width: 100%;
}

.banner-image {
  opacity: 0.8;
 }

.navbar {
  height: 5vw;
  display: flex;
  align-items: center;
}

.logo {
  height: 100%;
}

.logo-link{
  height: 80%;
  margin: 8px;
}

.waiver-text {
  max-height: 20vw;
  padding: 10px;
  margin: 20px;
  overflow: scroll;
  border: 1px solid;
}