<h1>Welcome to dat donut🍩</h1>

<h3>Flavor: <%= @donut.flavor %></h3>
<h2>Price: $<%= @donut.price %></h2>
<h2>Designer: <a href="/designers/<%= @designer.id %>"><%= @designer.name %></a></h2>

<h3><a href="/donuts">Let's head home. Back to flavor town. Bro.</a></h3>