<h1>Some drinkz! 🥃</h1>

<h3>User Id: <%= session[:user_id] %></h3>

<% if @user %>
  <h3>Welcome <%= @user.username %></h3>
<% end %>

<ul>
  <% @drinks.each do |drink| %>
    <li>
      <strong><%= drink.name %></strong>
    </li>
  <% end%>
</ul>